@font-face{
    font-family: 'SF-Regular';
    src: url('../font/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face{
    font-family: 'SF-Bold';
    src: url('../font/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face{
    font-family: 'SF-Light';
    src: url('../font/SF-Pro-Display-Light.otf') format('opentype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    background: linear-gradient(90deg,#f14f8bce,#0026ff);
}

.calculator {
    width: 15em;
    height: 30em;
    font-family: 'SF-Regular', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 2em;
    box-shadow: 0 0 10px rgb(89, 0, 255), 0 20px 40px rgb(0, 0, 0);
    border-radius: 2.5rem;
}

.display {
    box-sizing: border-box;
    font-family: 'SF-Light';
    width: 100%;
    font-size: 3.438rem;
    padding: 0 0.938rem;
    text-align: right;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    margin-top: 7.4rem;
    overflow: auto;
}

.display::-webkit-scrollbar-track {
    background: #171717;
}

.display::-webkit-scrollbar-thumb {
    background: #2b2b2b;
}

.display::-webkit-scrollbar {
    width: 5px; 
}

h1 {
    color: rgb(236, 250, 252);
    font-family: 'SF-Light', Arial, sans-serif;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.22);
}

.buttons {
    display: grid;
    grid-gap: .625rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: .8rem;
}

button {
    font-size: 1.563rem;
    border-radius: 50%; 
    height: 3.125rem;
    width: 3.125rem;
    text-align: center; 
    line-height: 3.125rem;
    padding: 0;
    border: none;
    background-color: #333333;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(129, 129, 129);
}

button:active {
    transition-duration: 0.23s;
    transform: scale(.9);
}

.math {
    background-color: #ff9f0a;
    font-size: 200%;
}

.math:hover {
    background-color: rgb(255, 106, 0);
}

.math:active {
    transition-duration: 0.23s;
    transform: scale(.9);
}

.special {
    color: black;
    background-color: #a5a5a5;
    font-family: 'SF-Bold';
    font-size:125%;
}

.special:hover {
    background-color: rgb(241, 241, 241);
}

.special:active {
    transition-duration: 0.23s;
    transform: scale(.9);
}

.zero {
    grid-column: span 2;
    width: 7rem;
    border-radius: 2.5rem;
    text-align: left;
    text-indent: 1.125rem;
}